<h1>Jobs I've applied to</h1>
<% @logs.each do |log| %>
  <h2><%= log.title %></h2>
  <p>company: <%= log.company %></p>
  <p>description: <%= log.description %></p>
  <p>salary: <%= log.salary %></p>
  <p>location: <%= log.location %></p>
  <p>remote: <%= log.remote %></p>
  <p>next_steps: <%= log.remote %></p>
<% end %>	




