<h1> Here's one job </h1>

<h3>Viewing one job</h3>

<p>title: <%= @log.title %> </p>
<p>company: <%= @log.company %></p>
<p>description: <%= @log.description %></p>
<p>salary: <%= @log.salary %></p>
<p>location: <%= @log.location %></p>
<p>remote: <%= @log.remote %></p>
<p>next steps: <%= @log.next_steps %></p>

<a href="/index">Back to all logs</a>
